<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createModal">
    Create task
  </button>
<table class="table table-striped">
  <thead>
    <tr>
      
      <th style="width: 30%;">Name</th>
      <th style="width: 20%;">End date</th>
      <th style="width: 20%;">User</th>
      <th style="width: 20%;">Status</th>
      <th style="width: 10%;">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for task in project.get_tasks %}
      <tr>
        <td style="width: 30%;">{{ task.name }}</td>
        <td style="width: 20%;">{{ task.end_date }}</td>
        <td style="width: 20%;">{% for user in task.get_users %}{{ user.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
        <td style="width: 20%;">{{ task.status }}</td>
        <td style="width: 10%;">
          <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal{{ task.id }}">
            Delete
          </button>

          <!-- Modal -->
          <div class="modal fade" id="deleteModal{{ task.id }}" tabindex="-1" aria-labelledby="deleteModalLabel{{ task.id }}" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="deleteModalLabel{{ task.id }}">Confirm Deletion</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  Are you sure you want to delete this task?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                  <form action="{% url 'projectsapp:delete_task' project.id task.id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Delete</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>


<!-- Modal -->
<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createModalLabel">Create task</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% include "create_task.html" %}
      </div>
    </div>
  </div>
</div>

