{% extends "base.html" %}

{% block content %}
<a href="/projects/{{ project.id }}" class="btn btn-default">←</a>
<div class="project-info">
  {% include "project_header.html" %}
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="admin-tasks-tab" data-bs-toggle="tab" data-bs-target="#admin-tasks" type="button" role="tab" aria-controls="admin-tasks" aria-selected="true">
        Manage tasks
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="admin-members-tab" data-bs-toggle="tab" data-bs-target="#admin-members" type="button" role="tab" aria-controls="admin-members" aria-selected="false">
        Manage members
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="journal-tab" data-bs-toggle="tab" data-bs-target="#journal" type="button" role="tab" aria-controls="journal" aria-selected="false">
        Journal
      </button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="admin-tasks" role="tabpanel" aria-labelledby="admin-tasks-tab">
      {% include "manage_tasks.html" %}
    </div>
    <div class="tab-pane fade" id="admin-members" role="tabpanel" aria-labelledby="admin-members-tab">
      {% include "manage_members.html" %}
    </div>
    <div class="tab-pane fade" id="journal" role="tabpanel" aria-labelledby="journal-tab">
      {% include "project_journal.html" %}
    </div>
  </div>
  <button type="button" class="btn btn-danger mt-3" data-bs-toggle="modal" data-bs-target="#deleteProjectModal">
    Delete project
  </button>
  
  <!-- Delete Project Modal -->
  <div class="modal fade" id="deleteProjectModal" tabindex="-1" aria-labelledby="deleteProjectModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteProjectModalLabel">Confirm Deletion</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete this project? This action cannot be undone.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <form action="{% url 'projectsapp:delete_project' project.id %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

