{% extends "base.html" %}

{% block content %}
<a href="/projects" class="btn btn-default">←</a>
<div class="project-info">
  <div style="display: flex; justify-content: space-between; align-items: center;">
    {% include "project_header.html" %}
    {% if user.is_authenticated %}
      {% if is_admin %}
        <a href="/manage_project/{{ project.id }}" class="btn btn-primary">Manage project</a>
      {% endif %}
    {% endif %}
  </div>


  <ul class="nav nav-tabs" id="myTab" role="tablist">  
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="your-tasks-tab" data-bs-toggle="tab" data-bs-target="#your-tasks" type="button" role="tab" aria-controls="your-tasks" aria-selected="true">
        Your tasks
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="members-tab" data-bs-toggle="tab" data-bs-target="#members" type="button" role="tab" aria-controls="members" aria-selected="false">
        Members
      </button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="your-tasks" role="tabpanel" aria-labelledby="your-tasks-tab">
      {% include "your_tasks.html" %}
    </div>
    <div class="tab-pane fade" id="members" role="tabpanel" aria-labelledby="members-tab">
      <p><strong>Members:</strong></p>
        <ul>
          {% for member in project.get_users %}
            <li>{{ member.name }}</li>
          {% endfor %}
        </ul>
    </div>
  </div>
</div>
{% endblock content %}

