{% extends "base.html" %}

{% block content %}
<a href="/projects" class="btn btn-default">←</a>
<div class="project-info">
  <h1>{{ project.name }}</h1>
  <p><strong>Project ID:</strong> {{ project.id }}</p>
  <p><strong>Members:</strong></p>
  <ul>
    {% for member in project.get_users %}
      <li>{{ member.name }}</li>
    {% endfor %}
  </ul>
  <p><strong>Your Tasks:</strong></p>
  <ul>
    {% for task in my_tasks %}
      <li>
        {{ task.name }}
        <form action="{% url 'projectsapp:change_task_status' project.id task.id %}" method="post">
          {% csrf_token %}
          <select name="status">
            <option value="0" {% if task.status.value == 0 %}selected{% endif %}>Not started</option>
            <option value="1" {% if task.status.value == 1 %}selected{% endif %}>In process</option>
            <option value="2" {% if task.status.value == 2 %}selected{% endif %}>Done</option>
          </select>
          <button type="submit">Change status</button>
        </form>
        {{ task.end_date }}
      </li>
    {% endfor %}
  </ul>
  <p><strong>Tasks:</strong></p>
  <ul>
    {% for task in project.get_tasks %}
      <li>{{ task.name }} - {{ task.status }}</li>
    {% endfor %}
  </ul>
</div>
<a href="create_task/" class="btn btn-primary">Create task</a>
{% endblock content %}

