{% if has_tasks %}
  {% for task in active_tasks %}
  <div class="card">
    <div class="card-header">
      <span class="font-weight-bold">{{ task.name }}</span>
      &middot; {{task.end_date}} &middot; 
      {% with blockers=task.blocked_by %}
        {% if not blockers %}
        <form action="{% url 'projectsapp:finish_task' project.id task.id %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-success btn-sm">Mark as Done</button>
        </form>
        {% else %}
          <span class="text-danger">Blocked by:
            {% for blocking_task in blockers %}
              {{ blocking_task.name }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
          </span>
        {% endif %}
      {% endwith %}
    </div>
    <div class="card-body">
      {{task.description}}
    </div>
  </div>
  <br />
  {% endfor %}
  <hr>
  {% for task in todo_tasks %}
  <div class="card">
    <div class="card-header">
      <span class="font-weight-bold">{{ task.name }}</span>
      &middot; {{task.end_date}} &middot;

      <form action="{% url 'projectsapp:start_task' project.id task.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-success btn-sm">Start the task</button>
      </form>

      {% with blockers=task.blocked_by %}
        {% if blockers %}
          <span class="text-danger">Blocked by:
            {% for blocking_task in blockers %}
              {{ blocking_task.name }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
          </span>
        {% endif %}
      {% endwith %}
    </div>
    <div class="card-body">
      {{task.description}}
    </div>
  </div>
  <br />
  {% endfor %}

  <hr>

  {% for task in complete_tasks %}
  <div class="card">
    <div class="card-header">
      <span class="font-weight-bold">{{ task.name }}</span>
      &middot; {{task.end_date}} &middot;
      <span class="text-success">Done</span>
    </div>
    <div class="card-body">
      {{task.description}}
    </div>
  </div>
  <br />
  {% endfor %}



{% else %}
<p>You have no tasks assigned</p>
{% endif %}


